<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/api" method="post">
    <script>
        let form = document.createElement('form');
        form.innerHTML = '<input id="text" name="q" value="test">';
        // перед отправкой формы, её нужно вставить в документ
        document.body.append(form);
        let subm = document.createElement('form');
        subm.innerHTML = '<input type="button" id="click" name="submit" value="SEND">';
        document.body.append(subm);
        // let value = document.getElementById("txt").value;
        document.getElementById("click").onclick = function () {
            let xhr = new XMLHttpRequest();
            xhr.open("POST", "api", true);
            xhr.setRequestHeader("Content-type", "application/json");
            xhr.send(JSON.stringify({
                messageText : document.getElementById("text").value
            }));
            alert(xhr.toString());
        };
    </script>
</form>


</body>
</html>